{% extends "base.html" %} {% block content %}

<body>

<div class="container mt-4 mb-4">
  <form 
    method="get">

    <select
      class="btn btn-success dropdown-toggle"
      name="catagory"
      hx-get="{% url 'landing_page' %}" 
      hx-target="#movie-container" 
      hx-swap="innerHTML"
      >

      <option value="popular" {% if catagory == 'popular' %} selected {% endif %}>Popular</option> 
      <option value="now_playing" {% if catagory == 'now_playing' %} selected {% endif %}>Now Playing</option>
      <option value="top_rated" {% if catagory == 'top_rated' %} selected {% endif %}>Top Rated</option>
      <option value="upcoming" {% if catagory == 'upcoming' %} selected {% endif %}>Upcoming</option>

    </select>
  </form>
  <form 
    method="get" 
    action="{% url 'landing_page' %}" 
    class="input-group w-50 mt-2" 
    hx-target="#movie-container" 
    hx-swap="innerHTML">

    <input 
      placeholder='Search for Movies' 
      type='text' class='form-control' 
      name='search'>

      <div class="input-group-append">
        <button type='submit' class='btn btn-success'>Search</button>
      </div>
  </form>
  <div id="movie-container" class="row mt-4">
    {% include "movies/partials/_movie_list.html" %}

  </div>
</div>
<div id="toast-container" class="position-fixed bottom-0 end-0 m-4"></div>

{% endblock %}

