{% extends "base.html" %} {% block content %}

<div class="container">
  <h1>{{movie.title}}</h1>

  <div class="row" >
    <div class="col-md-4 text-white">
      <img
        class="img-fluid"
        src="{% if movie.poster_path %}https://image.tmdb.org/t/p/original/{{ movie.poster_path }}{% else %}https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg{% endif %}"
        alt="{{ movie.title }}"
      />
    </div>

    <div class="col-lg-8 d-flex flex-column justify-content-between">
      <div style="max-width: 400px">
        <!-- wrap content here -->
        <p>{{ movie.overview }}</p>

        <h3>Genres</h5>
        <ul class="list-inline" style="padding-left: 0; margin-top: 0.5rem">
          {% for genre in movie.genres %}
          <li class="list-inline-item">
            {{ genre.name }}{% if not forloop.last %} | {% endif %}</li>
          {% empty %}
          <p class="text-white">No Genres Provided</p>
          {% endfor %}
        </ul>

        <h3>Directors</h3>
        <ul class="list-inline" style="padding-left: 0; margin-top: 0.5rem">

        {% for member in credits.crew %}
        {% if member.job  == "Director"%}
          <li class="list-inline-item">
            {{ member.name }}{% if not forloop.last %} | {% endif %}</li>
        {% endif %}
        {% empty %}
          <p class="text-white">No Director Info Provided</p>
        {% endfor %}
          </ul>

        <h3>Cast</h3>
        <ul class="list-inline" style="padding-left: 0; margin-top: 0.5rem">
          {% for member in credits.cast|slice:":9" %}
          <li class="list-inline-item">
            {{ member.name}}{% if not forloop.last %} | {% endif %} </li>
          {% empty %}
          <p class="text-white">No Cast Info Provided</p>
          {% endfor %}
        </ul>
      </div>

      <div class="text-end mt-3" style="max-width: 400px">
        <span class="text-white fw-light small text-shadow">Release date: {{ movie.release_date }}</span>
      </div>
    </div>
  </div>

  <br>

  {% if user.is_authenticated %}
    <h3>Add to list:</h3>
      {% if user_lists %}
        <div class="dropdown">
          <button 
          class="btn btn-success dropdown-toggle ms-2" 
          type="button" 
          data-bs-toggle="dropdown" 
          aria-expanded="false"> 
          Add to list</button>

            <ul class="dropdown-menu">
        
              {% for list in user_lists %}
                <li>
                  <form 
                  hx-post="{% url 'add_to_list' list_id=list.id movie_id=movie.id movie_name=movie.title %}"
                  hx-trigger="click"
                  hx-target="#toast-container"
                  hx-swap = "beforeend"
                  >
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">{{list.name}}</button>
                  </form>
                </li>

              {% endfor %}

              <form method='get' action="{% url 'profile' %}">
                <button 
                  class="btn btn-sm mb-3">
                  ➕ Add More
                </button>
              </form>
          </ul>
        </div>
      {% else %}
        <p>You do not have any lists. <a href="{% url 'profile' %}">Create a list!</a></p>


      {% endif %}

    {% if movie.title is list.id %}
    
    <p> This movie is already in the following: {{list.id}}
    
    {% endif %}
  {% endif %}

<div id="toast-container" class="position-fixed bottom-0 end-0 m-4"></div>

{% endblock %}


