<ul class="list-group">
  {% for list in user_lists %}

  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="#">{{list.name}}</a>
      <button type='submit' class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#delete-list-modal-{{list.id}}">❌</button>
  </li>
  {% include "users/modals/_list_delete_confirm.html" %}
  {% endfor %}
</ul>

<button
  class="btn btn-sm mb-3"
  hx-get="{% url 'create_list' %}"
  hx-swap="innerHTML"
  hx-target="#create-form-container">
  ➕ Add More
</button>

<div id="create-form-container"></div>
