<div
  class="modal"
  tabindex="-1"
  id="delete-movie-modal-{{movie.id}}"
  data-bs-backdrop="false"
>
  <div class="modal-dialog shadow-lg" style="width: 18rem">
    <div
      class="modal-content"
      style="
        border: 1px solid transparent;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        background-color: #2c2c2c;
        color: white;
      "
    >
      <div
        class="modal-header"
        style="
          background-color: #2c2c2c;
          border-bottom: 1px solid #444;
          color: white;
        "
      >
        <h5 class="modal-title">
          Are you sure you want to remove {{movie.title}}?
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body" style="background-color: #2c2c2c; color: white">
        <form
          hx-post="{% url 'delete_movie' movie.id user_list.id %}"
          hx-swap="innerHTML"
          hx-target="#movie-container"
        >
          {% csrf_token %}
          <button
            type="submit"
            class="btn btn-danger btn-sm"
            data-bs-dismiss="modal"
          >
            Yes, Delete it
          </button>
          <button
            type="button"
            class="btn btn-success btn-sm"
            data-bs-dismiss="modal"
          >
            No
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
